header {
  width: 100%;
  height: 100px;
  padding-top: 20px;
  box-shadow: 0 5px 10px #c3c3c3;
  display: flex;
  justify-content: center;
}
header img {
  width: 280px;
  max-width: 400px;
  height: 60px;
  display: block;
  margin-top: 30px;
  /*margin-top: 25px;*/
}

#location {
  width: 100%;
  height: 60px;
  background-color: #EAEAEA;
  display: flex;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: #353535;
  align-items: center;
  justify-content: center;
}
#location_dot {
  margin-right: 20px;
  margin-left: -20px;
}

.presentation {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #F6F6F6;
  width: 100%;
  height: 300px;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.presentation h1 {
  width: 80%;
  margin: 20px 0 0 0;
  font-size: 25px;
  font-weight: bolder;
}
.presentation p {
  width: 90%;
  font-size: 18px;
  color: #777777;
  margin-bottom: 50px;
}
.presentation_btn a {
  height: 50px;
  width: 40%;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-shadow: 0 5px 10px #c3c3c3;
  font-size: 18px;
  background-size: auto;
  background-image: linear-gradient(#E470DA, #9F5ADC);
}

.operating-mode {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 0;
}
.operating-mode h2 {
  margin-left: 20px;
}
.operating-mode_btn {
  width: 80%;
  height: 70px;
  margin-left: 10%;
  background-color: #F6F6F6;
  font-size: 18px;
  border-radius: 20px;
  font-weight: bold;
  align-items: center;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px #c3c3c3;
}
.operating-mode_btn_number {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: -10px;
}
.operating-mode_btn_icon {
  margin-left: 8%;
  color: #838383;
}
.operating-mode_btn_description {
  margin-left: 8%;
}
.operating-mode_btn:hover {
  background-color: #f2eafb;
}
.operating-mode_btn:hover .operating-mode_btn_icon {
  color: #9356DC;
}

.restaurants {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #F6F6F6;
  padding: 30px 0 20px 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.restaurants_contents {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-card {
  width: 100%;
  max-width: 400px;
  height: 280px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px #dddddd;
  position: relative;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.restaurant-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.restaurant-card h3 {
  margin-bottom: 2%;
  margin-left: 10px;
}
.restaurant-card_place {
  margin-left: 10px;
}
.restaurant-card:hover {
  box-shadow: 0 5px 10px #c3c3c3;
}

.heart {
  position: absolute;
  right: 10%;
  bottom: 12%;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 5px 0 20px 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #373737;
  text-decoration: none;
}
footer h4 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin: 10px 0 15px 20px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  padding: 0;
  list-style-type: none;
  margin-left: 20px;
}
footer li {
  margin-top: 5px;
}
footer i {
  display: inline-block;
  width: 10px;
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
