#location {
  width: 100%;
  height: 60px;
  background-color: #eaeaea;
  display: flex;
  @include text-font;
  font-weight: 500;
  font-size: 23px;
  color: #353535;
  align-items: center;
  justify-content: center;
  &_dot {
    margin-right: 20px;
    margin-left: -20px;
  }
}
