.dish {
  @include shadow-light;
  width: 95%;

  margin-left: 15px;
  margin-bottom: 15px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  @media screen and (min-width: 768px) and (max-width: 1100px) {
    min-width: 450px;
  }

  @media screen and (min-width: 1100px) {
    min-width: 300px;
  }

  &_check {
    width: 55px;
    height: 100%;
    top: 0px;
    right: -55px;
    background-color: $color-tertiary;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    i {
      position: absolute;
      top: 30%;
      left: 30%;
      text-align: center;
      color: white;
      transition: transform 0.5s ease-in-out;
      font-size: 25px;
    }
  }
  &:hover {
    .dish_check {
      transform: translateX(-55px);
      i {
        transform: rotate(-360deg);
      }
    }
    .dish_price {
      transform: translateX(-55px);
    }
    .dish_name {
      width: calc(90% - 55px);
    }
    .dish_description {
      width: calc(80% - 65px);
    }
  }

  &_name {
    width: 90%;
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &_description {
    width: 70%;
    font-weight: 300;
    font-size: 13px;
    margin-top: 0;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &_price {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 20px;
  }
}
