.restaurant-card{

    width: 100%;
    max-width: 400px;
    height: 280px;
    margin-bottom: 20px;
    @include shadow-light;
    position: relative;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    .new{
        width: 78px;
        height: 30px;
        position: absolute;
        top:10px;
        right:10px;
        background-color: $color-tertiary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: darken($color: $color-tertiary, $amount: 40);
        font-size: 15px;
        font-weight:500;
        border-radius: 2px;
    }
    img{
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    h3{
        margin-bottom: 2%;
        margin-left: 10px;
    }
    &_place{
        margin-left: 10px;
    }
    &:hover{
        @include shadow;
        
    }
    

}